@{
    ViewBag.Title = "Apathy Budget";
}

<p>Welcome to Apathy Budget your simple, easy to use, budget tool.</p>
<p>Please login or register to get access to your buget information. Once logged in you can create a new budget, add or edit your envelopes or share your items with your friends or family members. </p>