/* tables */
table.tablesorter {
	width: 100%;
	text-align: left;
	border-collapse:collapse;
	border:0;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th 
{
	background-color: #e6EEEE;
	border:0;
	border-left:3px solid #fff;
	padding:6px 0 6px 9px;
}
table.tablesorter thead tr th.first
{
    border-left:0;
}
table.tablesorter thead tr .header 
{
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	padding:7px 0 7px 6px;
	background-color: #FFF;
	vertical-align: top;
	border:0;
	border-bottom:1px solid #e0e0e0;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}



/*
table.tablesorter {
	background-color: #CDCDCD;
	font-size: 10pt;
	width: 100%;
	text-align: left;
	border-collapse:separate;
	border-spacing:1px;
	border:0;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th 
{
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	padding: 4px;
}
table.tablesorter thead tr .header 
{
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
	border:0;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}
*/